%ul.nav.nav-sidebar
  %li.active
    %a{:href => dashboards_path}
      5-Day Live Running
      %span.sr-only (current)
  %li
    %a{:href => "#"} Fooda Weekly Competition
  %li
    %a{:href => "#"} Weird Stats
  %li
    %a{:href => "#"} Hall of Fame

/ %ul.nav.nav-sidebar
/   %li
/     %a{:href => ""} Nav item
/   %li
/     %a{:href => ""} Nav item again
/   %li
/     %a{:href => ""} One more nav
/   %li
/     %a{:href => ""} Another nav item
/   %li
/     %a{:href => ""} More navigation
